<!DOCTYPE html>
<html lang="en">
<head>
  <title>CSC 575 Final Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/search_and_display.js')}}"></script>
</head>
<body>
  <header class="page-header header container-fluid">
    <div class="description">
      <h1>Genomics Document Search</h1>
      <p>Enter your query in the search box below and relevant documents will be returned.</p>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col">
        <form class="form-inline active-cyan-4">
          <input name="query" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
          <a href="#" id="process_input"><button class="btn btn-default">Submit</button></a>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p id="topic"><b>Selected Topic:</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Document ID</th>
              <th scope="col">Relevance</th>
              <th scope="col">Precision</th>
              <th scope="col">Recall</th>
            </tr>
          </thead>
          <tbody id = "result">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>